.tweetCardFooter {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.tweetCardFooter__action {
  margin-right: 64px;
  display: flex;
  align-items: center;
}

.tweetCardFooter__counter {
  padding-left: 4px;
  padding-right: 4px;
  color: var(--text-main);
}

.tweetCardFooter__icon {
  fill: var(--text-light);
}

.tweetCardFooter__iconFilled {
  fill: var(--red-main);
}
