.tweetCard__link {
  width: 100%;
  color: inherit;
  text-decoration: inherit;
}

.tweetCard__wrapper:focus {
  outline: none;
}

.tweetCard__container {
  display: flex;
  padding: 8px 16px;
  border-top: 1px solid var(--border-01);
  transition: .25s ease-in-out background-color, .25s ease-in-out border;
  background-color: var(--bg-00);
}

.tweetCard__container:hover {
  background-color: var(--bg-01);
}

.tweetCard__main {
  display: flex;
  width: 100%;
  flex-direction: column;
}
