.footerMessenger {
  position: fixed;
  bottom: 0;
  background-color: var(--bg-00);
  right: 24px;
  box-shadow: var(--popper-shadow);
  border-radius: 16px 16px 0 0;
  width: 400px;
  transition: transform .35s ease-in-out;
  height: 512px;
}

.footerMessenger--open {
  transform: translateY(0);
}

.footerMessenger--closed {
  transform: translateY(448px);
}

.footerMessenger__labelContainer {
  padding: 16px;
  align-items: center;
  display: flex;
  height: 64px;
  cursor: pointer;
}

.footerMessenger__label {
  font-weight: 900;
  font-size: 1.4rem;
  color: var(--text-dark);
}

.footerMessenger__chats {
  height: 448px;
}

.footerMessenger__backIcon {
  fill: var(--text-main);
}

.footerMessenger__chatsList {
  height: 448px;
}

.footerMessenger__backIconContainer {
  margin-right: 16px;
}
