.chat {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.chat__messagesWrapper {
  overflow: scroll;
}

.chat ul {
  padding: 12px;
}

.chat__spinner {
  margin-top: 64px;
  fill: var(--primary-main);
}

@media (max-width: 500px) {
  .chat {
    border: none;
    height: auto;
  }
}

.chat__headerActions {
  display: flex;
  align-items: center;
}

.chat__headerBackButton {
  fill: var(--text-main);
}

.chat__headerAvatar {
  margin-left: 8px;
}
