.chatsList {
  flex: 4;
  overflow: hidden;
}

.chatList__item {
  list-style: none;
}

.chatsList__spinner {
  fill: var(--primary-main);
  margin-top: 64px;
}

.chatsList__list {
  padding-bottom: 96px;
  height: 100%;
  overflow: scroll;
}
