.chat {
  flex: 8;
  display: flex;
  max-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid var(--border-00);
  border-right: 1px solid var(--border-00);
}

.chat__messages {
  overflow: scroll;
  padding: 12px;
  height: 100%;
}

.chat__footer {
  padding: 12px;
  width: 100%;
  z-index: 99;
  border-top: 1px solid var(--border-00);
}

.chat__inputForm {
  width: 100%;
  display: flex;
  align-items: center;
}

.chat__sendButton {
  margin-left: 8px;
}

.chat__inputField {
  width: 100%;
  background-color: var(--bg-01);
  border: 1px solid transparent;
  border-radius: 32px;
  transition: .15 s ease-in-out border;
  color: var(--text-main);
  font-size: 1rem;
  padding: 6px 8px;
}

.chat__inputField:focus {
  outline: none;
  border: 1px solid var(--primary-main);
}

.chat__sendIcon {
  fill: var(--primary-main);
}

.chat__spinner {
  margin-top: 64px;
  fill: var(--primary-main);
}

@media (max-width: 768px) {
  .chat {
    height: 100vh;
  }

  .chat__footer {
    position: sticky;
    right: 0;
    bottom: 0;
    background-color: var(--bg-00);
    padding-bottom: calc(16px + env(safe-area-inset-bottom));
  }
}

@media (max-width: 500px) {
  .chat {
    height: 100%;
    border: none;
  }

  .chat__footer {
    position: fixed;
  }
}

.chat__headerActions {
  display: flex;
  align-items: center;
}

.chat__headerBackButton {
  fill: var(--text-main);
}

.chat__headerAvatar {
  margin-left: 8px;
}
