.chatsList {
  flex: 4;
  overflow: hidden;
}

.chatList__item {
  list-style: none;
}

.chatsList__spinner {
  fill: var(--primary-main);
  margin-top: 64px;
}

.chatsList__list {
  height: 100%;
  overflow: scroll;
}

@media (max-width: 768px) {
  .chatsList {
    overflow: inherit;
    height: 100%;
  }

  .chatsList__list {
    overflow: auto;
  }
}
