.tweetPage {
  display: flex;
  flex: 12;
  border-left: 1px solid var(--border-01);
  border-right: 1px solid var(--border-01);
}

.tweetPage__tweet {
  flex: 8;
  max-width: 600px;
}

.tweetPage .tweetCard__container:first-of-type {
  border-top: none;
}
