.rangeSlider__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.rangeSlider__renderBefore {
  font-size: 14px;
  font-weight: 600;
  margin-right: 16px;
  color: var(--text-main);
}

.rangeSlider__renderAfter {
  font-size: 24px;
  font-weight: 600;
  margin-left: 16px;
  color: var(--text-main);
}

/* The rangeSlider itself */
.rangeSlider {
  z-index: 9;
  cursor: pointer;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 8px; /* Specified height */
  border-radius: 16px;
  background: transparent;
  outline: none;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* The rangeSlider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 16px; /* Set a specific rangeSlider handle width */
  height: 16px; /* rangeSlider handle height */
  background: var(--primary-dark); /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}

.rangeSlider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background-color: var(--primary-main);
  transition: scale .25s ease-in-out;
}

.rangeSlider::-moz-range-thumb {
  width: 16px; /* Set a specific rangeSlider handle width */
  height: 16px; /* rangeSlider handle height */
  background: var(--primary-dark); /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}

.rangeSlider__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.rangeSlider__ticks {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.rangeSlider__customTrack {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  height: 6px;
  border-radius: 12px;
  background-color: var(--primary-light);
}

.rangeSlider__customTrackFill {
  position: absolute;
  width: 100%;
  border-radius: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-dark);
  height: 6px;
}
