.avatar__base {
  border-radius: 50%;
  object-fit: cover;
}

.avatar--xs {
  height: 32px;
  width: 32px;
}

.avatar--sm {
  height: 40px;
  width: 40px;
}

.avatar--md {
  height: 48px;
  width: 48px;
}

.avatar--lg {
  height: 60px;
  width: 60px;
}

.avatar--xl {
  height: 96px;
  width: 96px;
}
