.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 32px 16px;
}

.auth__hero {
  max-width: 512px;
}

.auth__icon {
  fill: var(--primary-main);
  height: 56px;
  width: 56px;
}

.auth__text {
  margin: 32px 0;
}

.auth__button {
  width: 100%;
}

.auth__header {
  color: var(--text-main);
}
