.feed {
  background-color: var(--bg-01);
  min-height: 100vh;
  flex: 8;
  max-width: 600px;
  padding-bottom: 64px;
}

.feed__tweet {
  margin-bottom: 8px;
  border-bottom: 1px solid var(--border-01);
  background-color: var(--bg-00);
}

@media (max-width: 500px) {
  .feed {
    border: none;
  }
}
