.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--border-00);
}


.footer__menu {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--bg-00);
  padding: 4px 16px;
  width: 100%;
}
