.app__container {
  display: flex;
  min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  justify-content: center;
}

.main__wrapper {
  flex: 12;
  /* max-width: 600px; */
  border-left: 1px solid var(--border-01);
  border-right: 1px solid var(--border-01);
}

@media (max-width: 1024px) {
  .nav__wrapper {
    width: 80px;
    flex: none;
  }
}

@media (max-width: 500px) {
  .main__wrapper {
    border: none;
  }
}
