.app__container {
  display: flex;
  min-height: 100vh;
}

.nav__wrapper {
  flex: 6;
  display: flex;
  justify-content: flex-end;
  background-color: var(--bg-00);
}

.main__wrapper {
  flex: 12;
  max-width: 612px;
}

.sideBar__wrapper {
  flex: 6;
  background-color: var(--bg-00);
}

@media (max-width: 1024px) {
  .sideBar__wrapper {
    display: none;
  }

  .nav__wrapper {
    width: 80px;
    flex: none;
  }
}
