* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color .25s ease-in-out, .25s ease-in-out color, .25s ease-in-out border;
  --red-light-transparent: #f4005e19;
  --red-main: #f4005c;

  --red: #f4005c;
  --blue: #00a2f9;
  --orange: #ff4f00;
  --purple: #8243cb;
  --green: #00c357;
  --yellow: #ffaa00;
}

.font-1 {
  font-size: 12px;
}

.font-2 {
  font-size: 14px;
}

.font-3 {
  font-size: 16px;
}

.font-4 {
  font-size: 18px;
}

.font-5 {
  font-size: 20px;
}

.color--blue {
  --primary-light-transparent: #00a2f929;
  --primary-light: #85d4ff;
  --primary-main: #00a2f9;
  --primary-dark: #00a2f9;
}

.color--yellow {
  --primary-light-transparent: #ffc95c29;
  --primary-light: #ffc95c;
  --primary-main: #ffaa00;
  --primary-dark: #d18d04;
}

.color--red {
  --primary-light-transparent: #ff498f29;
  --primary-light: #ff498f;
  --primary-main: #f4005c;
  --primary-dark: #b40649;
}

.color--purple {
  --primary-light-transparent: #9f6dd829;
  --primary-light: #9f6dd8;
  --primary-main: #8243cb;
  --primary-dark: #6a2ead;

}

.color--orange {
  --primary-light-transparent: #ff7f4429;
  --primary-light: #ff7f44;
  --primary-main: #ff4f00;
  --primary-dark: #b93b00;
}

.color--green {
  --primary-light-transparent: #2ac77029;
  --primary-light: #2ac770;
  --primary-main: #00c357;
  --primary-dark: #079547;
}

.dim {
  --text-light: #6b7f8d;
  --text-main: #ffffff;
  --text-dark: #ffffff;

  --border-00: #32414b;
  --border-01: #32414b;
  --border-02: #acacac;

  --box-shadow: #00000030;

  --bg-00: #12202c;
  --bg-01: #1f303f;
  --bg-02: #3d566a;
  --bg-03: #152735;
  --bg-04: #fff;
  --bg-05: #fff;
  --bg-06: #fff;
  --bg-07: #fff;
  --bg-08: #fff;
}

.lights-out {
  --text-light: #acacac;
  --text-main: #ffffff;
  --text-dark: #ffffff;

  --border-00: #2c2c2c;
  --border-01: #313131;
  --border-02: #acacac;

  --box-shadow: #ffffff30;

  --bg-00: #000;
  --bg-01: #15181c;
  --bg-02: #22262b;
  --bg-03: #15181c;
  --bg-04: #fff;
  --bg-05: #fff;
  --bg-06: #fff;
  --bg-07: #fff;
  --bg-08: #fff;
}

.default {
  --text-light: #acacac;
  --text-main: #555555;
  --text-dark: #2c2c2c;

  --box-shadow: #00000030;

  --border-00: #f1f1f1;
  --border-01: #eeeeee;
  --border-02: #acacac;

  --bg-00: #fff;
  --bg-01: #f8f8f8;
  --bg-02: #e6e6e6;
  --bg-03: #f6f9fa;
  --bg-04: #fff;
  --bg-05: #fff;
  --bg-06: #fff;
  --bg-07: #fff;
  --bg-08: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  color: var(--text-main)
}

.baseFocus:focus {
  /* box-shadow: 0px 0px 4px var(--primary-dark); */
}
