.dialog__wrapper {
  z-index: 1200;
  background-color: var(--box-shadow);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.dialog__container {
  background-color: var(--bg-00);
  border-radius: 16px;
  box-shadow: var(--popper-shadow);
  margin: 16px;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .dialog__container {
    min-width: 512px;
  }
}

@media (max-width: 768px) {
  .dialog__container {
    width: 100%;
  }
}
